@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

body {
  background-color: black !important;
  margin: 0;
   font-family: "Funnel Display", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: "Funnel Display", sans-serif;
}

